* {
    box-sizing: border-box;
  }
  
  header {
    width: 100%;
    background-color: rgb(107, 223, 252);
    display: flex;
    z-index: 1;
    justify-content: space-between;
    margin-bottom: 100px;
    
  }
  
  .head {
    overflow: hidden;
  }
  
  .head a {
  
    text-decoration: none;
    color: white;
  }
  
  .shop {
    font-size: 40px;
    padding: 20px;
    text-decoration: none;
  }
  
  .a {
    font-size: 23px;
    padding-top: 34px;
    padding-bottom: 34px;
    padding-left: 25px;
    padding-right: 25px;
  
  }
  
  .search {
    height: 25%;
    width: 80%;
    margin-top: 30px;
    margin-left: 50px;
    border-radius: 15px;
  
  }
  
  .a2 {
    float: right;
    font-size: 23px;
    padding-top: 30px;
    padding-bottom: 33px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .head a:hover {
    background-color: black;
  }
  
  .head a:active {
    color: red;
  }
  
  .head input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    font-size: 17px;
  }
  
  .head .search-container button {
    float: right;
    margin-top: 30px;
    margin-left: 0px;
    font-size: 10px;
    border: none;
    cursor: pointer;
  }
  
  .head .search-container button:hover {
    background: #ccc;
  }
  legend{
    text-align: center;
    padding-left:30px;
    padding-right:30px;
    width:20%;
  }
  main{
    padding-left: 7%;
    padding-right:7%;
  }
  .mainpart{
    margin-top:30px;
    display:flex;
    flex-direction: column;
    
  }
  .front{
    margin-top:30px;
  }
  .firstpart , .secondpart{
    display:flex;
    columns: 3;
    margin-top:30px;
    text-align:center;
    justify-content: center;
  }
  .firstpart{
    margin-bottom:10%;
  }
   .container2 , .name1-2 {
    margin-left:5%;
    margin-right:5%;
  }
  .behind , .front{
    text-align:center;
  }
  .secondpart{
    margin-bottom:10%;
  }
  
  .name1,.name2,.name3 {
    position: relative;
    width: 50%;
  }

   .img{
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 200%;
    height:0;
    transition: .5s ease;
    opacity:0.7;
    
  }
  
  .name1:hover .overlay ,.name2:hover .overlay,.name3:hover .overlay {
    bottom: 0;
    height: 100%;

  }
  .name1 ,.name2,.name3:hover .text{
    color:black;
    
  }
  
  .text {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }



  
  