<<<<<<< HEAD
* {
  box-sizing: border-box;
}

=======
>>>>>>> 93c62d76b3bb611f5607f1a7934222a64704f636
legend {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  width: 20%;

}

main {
  padding-left: 7%;
  padding-right: 7%;
}

.mainpart {
  margin-top: 30px;
  display: flex;
  flex-direction: column;

}

.front {
  margin-top: 30px;
}

.firstpart,
.secondpart {
  display: flex;
  columns: 3;
  margin-top: 30px;
  text-align: center;
  justify-content: center;
}

.firstpart {
  margin-bottom: 10%;
}

.b_firstpart {
  display: flex;
  columns: 3;
  margin-top: 30px;
  text-align: center;
}

.container2,
.name1-2 {
  margin-left: 5%;
  margin-right: 5%;
}

.behind,
.front {
  text-align: center;
}

.secondpart {
  margin-bottom: 10%;
}

.container1,
.container2,
.container3 {
  border-style: solid;
  border: 1;
}

.container1,
.container2,
.container3 {
  width: 85%;
  height: 100%;
}

.name2,
.name3 {
  position: relative;

  margin-bottom: 5%;
}

.name1 {
  position: relative;
  margin-bottom: 5%;
}

.img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgb(36, 113, 163, 0.8);
  overflow: hidden;
  width: 100%;
  /*寬度*/
  height: 0;
  transition: .5s ease;


}

.name1:hover .overlay,
.name3:hover .overlay {
  bottom: 0;
  height: 100%;
  width: 100%;

}

.name2:hover .overlay {
  bottom: 0;
  height: 100%;
  width: 100%;

}

.text {
  color: rgb(244, 208, 63);
  font-size: 18px;
  position: absolute;
  top: 45%;
  left: 50%;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 標楷體;

  /*
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    */
  transform: translate(-50%, -50%);
  text-align: center;
  /*
    text-align: center;
    */
}

.container1:hover .about {
  color: #eeee00;
}

.container2:hover .about {
  color: #bbbb00;
}

.container3:hover .about {
  color: #bbbb00;
}

.container4 {
  position: relative;
  width: 50%;
  margin: 0 25% 0 25%;
}

.image2 {
  display: block;
  width: 100%;
  height: auto;
}

.overlay2 {
  position: absolute;
  bottom: 0;
  left: 70%;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container4:hover .overlay2 {
  width: 80%;
}

.image2 {
  transition: .5s ease;
}

.container4:hover .image2 {
  transform: translate(-30%, 0);
}

.text2 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.about {
  color: white;
}