* {
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: rgb(107, 223, 252);
  display: flex;

  justify-content: space-between;

}

.head {
  overflow: hidden;
}

.head a {

  text-decoration: none;
  color: white;
}

.shop {
  font-size: 40px;
  padding: 20px;
  text-decoration: none;
}

.a {
  font-size: 23px;
  padding-top: 34px;
  padding-bottom: 34px;
  padding-left: 25px;
  padding-right: 25px;

}

.search {
  height: 25%;
  width: 80%;
  margin-top: 30px;
  margin-left: 50px;
  border-radius: 15px;

}

.a2 {
  float: right;
  font-size: 23px;
  padding-top: 34px;
  padding-bottom: 34px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
}

.head a:hover {
  background-color: black;
}

.head a:active {
  color: red;
}

.head input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  font-size: 17px;
}

.head .search-container button {
  float: right;
  margin-top: 30px;
  margin-left: 0px;
  font-size: 10px;
  border: none;
  cursor: pointer;
}



.head .search-container button:hover {
  background: #ccc;
}

legend {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  width: 20%;

}

main {
  padding-left: 7%;
  padding-right: 7%;
}

.mainpart {
  margin-top: 30px;
  display: flex;
  flex-direction: column;

}

.front {
  margin-top: 30px;
}

.firstpart,
.secondpart {
  display: flex;
  columns: 3;
  margin-top: 30px;
  text-align: center;
  justify-content: center;
}

.firstpart {
  margin-bottom: 10%;
}

.b_firstpart {
  display: flex;
  columns: 3;
  margin-top: 30px;
  text-align: center;
}

.container2,
.name1-2 {
  margin-left: 5%;
  margin-right: 5%;
}

.behind,
.front {
  text-align: center;
}

.secondpart {
  margin-bottom: 10%;
}

.container1,
.container2,
.container3 {
  border-style: solid;
  border: 1;
}

.container1,
.container2,
.container3,
.container4 {
  width: 85%;
  height: 100%;
}

.name2,
.name3 {
  position: relative;

  margin-bottom: 5%;
}

.name1 {
  position: relative;
  margin-bottom: 5%;
}

.img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgb(0, 191, 255, 0.5);
  background-color: rgb(0, 191, 255, 0.5);
  overflow: hidden;
  width: 100%;
  /*寬度*/
  height: 0;
  transition: .5s ease;


}

.name1:hover .overlay,
.name3:hover .overlay {
  bottom: 0;
  height: 100%;
  width: 100%;

}

.name2:hover .overlay {
  bottom: 0;
  height: 100%;
  width: 100%;

}

.text {
  color: rgb(245, 245, 245);
  font-weight: bold;
  color: rgb(245, 245, 245);
  font-weight: bold;
  font-size: 18px;
  position: absolute;
  top: 45%;
  left: 50%;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 標楷體;

  /*
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    */
  transform: translate(-50%, -50%);
  text-align: center;
  /*
    text-align: center;
    */
}

.container1:hover .about {
  color: #eeee00;
}

.container2:hover .about {
  color: #bbbb00;
}

.container3:hover .about {
  color: #bbbb00;
}

.container4 {
  position: relative;
  
  margin: 0 32% 0 32%;
  
  

}

.image2 {
  display: block;
  
  width: 100%;
  height: auto;
}

.overlay2 {
  position: absolute;
  bottom: 0;
  top:0;
  left: 100.5%;
  right: 0;
  background-color: rgb(0, 191, 255, 0.5);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container4:hover .overlay2  {
  width: 130%;
}

.image2 ,.about2 ,.container4{
  transition: .5s ease;
}
.container4:hover{
  transform: translate(-30%, 0);
}
/*
.container4:hover .image2 {
  transform: translate(-30%, 0);
}

.container4:hover .about2 {
  transform: translate(-30%, 0);
}
*/

.text2 {
  color: rgb(0, 0, 0);
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
  width: 100%;
  font-weight: bolder;
}

.about {
  color: white;
}

hr {
  border-color: rgb(0, 191, 255);
  border-style: solid;
  background-color: rgb(0, 191, 255)
}