body {
    background-repeat: no-repeat;
    background-size: 100%;
}

.widcen {
    width: 80%;
    text-align: center;
}

.maingoods {
    column-count: 4;
    margin: 3% 10% 3% 0%;
    width: 100%;
}

section {
    display: flex;
    justify-content: center;
}

.maing {
    margin-bottom: 15%;
}

.goodnar {
    width: 265px;
    padding: 2%;
}