body {
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
}

.widcen {
    width: 90%;
    ;
}

.maingoods {
    column-count: 4;
    margin: 3% 10% 3% 0%;
    width: 100%;
}

section {
    display: flex;
    justify-content: center;
}

.maing {
    margin-bottom: 35%;
    width: auto;
    height: 310px;
}

.mmaing {
    width: auto;
    height: 340px;
}


.goodnar {
    width: 100%;
    ;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: left;
}

/*
.goodnar {
    width:265px;
    padding: 1%;
}
*/


.goodimg {
    width: 250px;
    height: 250px;
    border: 3px rgb(169, 108, 227) double;
}

hr {
    border-color: rgb(0, 191, 255);
    border-style: solid;
    background-color: rgb(0, 191, 255)
}


.cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: var(--bg-color);
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s;
    z-index: 999999999;
    background-color: #fff;
}

#cart-icon {
    font-size: 1.8rem;
    cursor: pointer;
}

.cart.active {
    right: 0;
}

.cart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

#close-cart {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
}

.cart-product-title {
    font-size: 1rem;
    text-transform: uppercase;
}

.cart-price {
    font-weight: 500;
}

.detail-box {
    display: grid;
    row-gap: 0.5rem;
}

.cart-quantity {
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

.cart-remove {
    font-size: 24px;
    color: var(--main-color);
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--text-color);
}

.total-title {
    font-size: 1rem;
    font-weight: 600;
}

.total-price {
    margin-left: 0.5rem;
}

.btn-buy {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.btn-buy:hover {
    background-color: beige;
}

.price {
    font-weight: 500;
}

.add-cart {
    color: white;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    float: right;
    margin-right: 7%;
    margin-top: 10px;
    background-color: burlywood;

    font-weight: 800;

}

.add-cart:hover {
    background-color: antiquewhite;
}