body {
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
}

.widcen {
    width: 90%;
    text-align: center;
}

.maingoods {
    column-count: 4;
    margin: 3% 10% 3% 0%;
    width: 100%;
}

section {
    display: flex;
    justify-content: center;
}

.maing {
    margin-bottom: 15%;
}

.goodnar {
    width: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

/*
.goodnar {
    width:265px;
    padding: 1%;
}
*/


.goodimg {
    width: 250px;
    height: 250px;
    border: 3px rgb(169, 108, 227) double;
}

hr {
    border-color: rgb(0, 191, 255);
    border-style: solid;
    background-color: rgb(0, 191, 255)
}