* {
    box-sizing: border-box;
}

header {
    background-color: rgb(107, 223, 252);
    position: relative;
}

.top {
    width: auto;
    height: 100px;
}

body {
    background-image: url(../img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.announce {
    width: 46%;
    margin: 5% 27%;
}

.bg {
    background: rgb(187, 166, 166);
    padding: 3%;
    z-index: 2;
    border-radius: 20px;
}