body {
    background-repeat: no-repeat;
    background-size: 100%;
}

.announce {
    width: 44%;
    margin: 5% 28%;
}

.bg {
    background: rgb(255, 255, 255);
    padding: 3%;
    border-radius: 20px;
}

.content {
    display: flex;
}

.leftside {
    float: left;
    width: 35%;
    text-align: center;
    padding: 2%;
}

.rightside {
    float: right;
    width: 65%;
    padding: 2%
}

.rightside p {
    margin: 0;
}

.enjineer {
    clear: both;
}