* {
  box-sizing: border-box;
}

.top {
  width: auto;
  height: 100px;
}

@media screen and (max-width: 1100px) {

  .heave a,
  .heave input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  .head input[type=text] {
    border: 1px solid #ccc;
  }
}

.announce_main {
  text-align: center;
  margin: 3%;
}

.announcement {
  display: flex;
  margin-top: 3%;
  margin-bottom: 4%;
  margin-left: 10%;
}

.announcement {
  display: flex;
  margin-top: 3%;
  margin-bottom: 4%;
  margin-left: 10%;
}

* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  margin-left: 30px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s7 ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/*調整左鍵* */
.prev {
  margin-left: 0%;
}

/* 調整右鍵 */
.next {
  margin-left: 94.8%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc)調整字幕顏色 */
.numbertext {
  color: white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  margin-left: 20%;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

body {
  background-repeat: no-repeat;
  background-size: 100%;
}

.announcement_grade {
  padding: 0.22% 25px;
}

.announcement_name {
  margin: 0 25px;
}

.announcement_id {
  max-width: 0 25px;
}

h1 {
  margin-bottom: 8%;
  margin-top: 4%;
  text-align: center;
}

.rank1 {
  position:absolute;
  z-index: 3;
  margin-top: 0%;
  margin-left:1%;
  font-size: 20px;
  font-weight: 600;
}

.rank2 {
  position:absolute;
  z-index: 3;
  margin-top: 0%;
  margin-left:24%;
  font-size: 20px;
  font-weight: 600;
}

.rank3 {
  position:absolute;
  z-index: 3;
  margin-top: 0%;
  margin-left:46.4%;
  font-size: 20px;
  font-weight: 600;
}

hr {
  height: 1px;
  width: 80%;
  border: 2px dashed blue;
}

.announcement {
  display: flex;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  margin-left: 10%;
}

.announcement_grade {
  margin: 0 25px;
}

.announcement_name {
  margin: 0 25px;
}

.announcement_id {
  max-width: 0 25px;
}

hr {
  border-color: rgb(0, 191, 255);
  border-style: solid;
  background-color: rgb(0, 191, 255)
}

.goods {
  column-count: 4;
  margin-left: 2%;
  margin-right: 2%;
  width: 100%;
}

.goodgap {
  height: 400px;
  margin-bottom: 1%;
}

.goodimg {
  width: 260px;
  height: 260px;
  border: 3px rgb(169, 108, 227) double;
}

.goodnar {
  width: 264px;
  padding: 0;
}

.widthset {
  width: 90%;
  margin-left: 5%;
}





.cart {
  position: fixed;
  top: 0;
  right: -100%;
  width: 360px;
  min-height: 100vh;
  padding: 20px;
  background: var(--bg-color);
  box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
  transition: 0.3s;
  z-index: 999999999;
  background-color: #fff;
}

#cart-icon {
  font-size: 1.8rem;
  cursor: pointer;
}

.cart.active {
  right: 0;
}

.cart-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
}

.cart-box {
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.cart-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 10px;
}

#close-cart {
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 2rem;
  color: var(--text-color);
  cursor: pointer;
}

.cart-product-title {
  font-size: 1rem;
  text-transform: uppercase;
}

.cart-price {
  font-weight: 500;
}

.detail-box {
  display: grid;
  row-gap: 0.5rem;
}

.cart-quantity {
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}

.cart-remove {
  font-size: 24px;
  color: var(--main-color);
  cursor: pointer;
}

.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid var(--text-color);
}

.total-title {
  font-size: 1rem;
  font-weight: 600;
}

.total-price {
  margin-left: 0.5rem;
}

.btn-buy {
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  border: none;
  background: var(--main-color);
  color: var(--bg-color);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.btn-buy:hover {
  background-color: beige;
}

.price {
  font-weight: 500;
}

.add-cart {
  color: white;
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
  float: right;
  margin-right: 7%;
  margin-top: 10px;
  background-color: burlywood;

  font-weight: 800;

}

.add-cart:hover {
  background-color: antiquewhite;
}