* {
    box-sizing: border-box;
}

#header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;
    background-color: #00dddd;
    font-size: 25px;
}

.name {
    padding: 20px;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: white;
}

.label,
.label2 {
    display: flex;

}


.label a,
.label2 a {
    display: inline-block;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
}

.label a:hover {
    background-color: black;
}






.announcement {
    display: flex;
    margin-top: 3%;
    margin-bottom: 4%;
    margin-left: 10%;
}

.announcement {
    display: flex;
    margin-top: 3%;
    margin-bottom: 4%;
    margin-left: 10%;
}

.announcement_grade {
    margin: 0 25px;
}

.announcement_name {
    margin: 0 25px;
}

.announcement_id {
    max-width: 0 25px;
}

hr {
    height: 1px;
    width: 80%;
    border: 2px dashed blue;

}

.announcement {
    display: flex;
    margin-top: 3%;
    margin-bottom: 4%;
    margin-left: 10%;
}

.announcement_grade {
    margin: 0 25px;
}

.announcement_name {
    margin: 0 25px;
}

.announcement_id {
    max-width: 0 25px;
}

hr {
    height: 1px;
    width: 80%;
    border: 2px dashed blue;

}

.goods {
    column-count: 4;
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
}

footer {
    background-color: black;
    color: white;
}

.footer_space {
    display: flex;
    margin-left: 5%;
}