* {
    box-sizing: border-box;
}

#header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;
    background-color: #00dddd;
    font-size: 25px;
}

.name {
    padding: 20px;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: white;
}

.label,
.label2 {
    display: flex;

}


.label a,
.label2 a {
    display: inline-block;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
}

.label a:hover {
    background-color: black;
}

.float1 {
    border: 10px black solid;
    width: 600px;
    height: 100px;
}

.s25 {
    float: left;
    width: 25%;
    padding: 0% 0% 0% 0%;
    display: flex;
    justify-content: center;
}

.title1 {
    display: flex;
    justify-content: center;
}

.element1 {
    float: left;
    width: 20%;
    padding: 0 2.5%;
    text-align: center;
}