
* {
    box-sizing: border-box;
}

#header {
    display: flex;
<<<<<<< HEAD
    justify-content:space-between;
    width :100%;
=======
    justify-content: space-between;
<<<<<<< HEAD
    background-color:black;
>>>>>>> 13799a9d8b7e87d31e2b1d17b490b7555a6013b5
    color:white;
    background-color:#00dddd;
    font-size:25px;
}
.name{
    padding:21px;
    font-size:25px;
}
a{
    text-decoration: none;
<<<<<<< HEAD
    color:white;
}
.label , .label2{
    display: flex;
    padding:10px;
}
.label{
    margin-right:650px;
}


.label a , .label2 a{
    display: inline-block;
    font-size:25px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 15px;
    padding-left: 15px;
}





=======
    color:white; 
=======
    background-color: black;
    color: white;
    font-size: 25px;
}
>>>>>>> 11044119

.option {
    display: flex;

}

.label {
    margin-right: 60px;
    transition-duration: 0.7s;
}

.label:hover {
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}

a {
    text-decoration: none;
    color: white;

}
>>>>>>> 13799a9d8b7e87d31e2b1d17b490b7555a6013b5

.announcement {
    display: flex;
    margin-top: 3%;
    margin-bottom: 4%;
    margin-left: 10%;
}

.announcement {
    display: flex;
    margin-top: 3%;
    margin-bottom: 4%;
    margin-left: 10%;
}

.announcement_grade {
    margin: 0 25px;
}

.announcement_name {
    margin: 0 25px;
}

.announcement_id {
    max-width: 0 25px;
}

hr {
    height: 1px;
    width: 80%;
    border: 2px dashed blue;

}

.announcement {
    display: flex;
    margin-top: 3%;
    margin-bottom: 4%;
    margin-left: 10%;
}

.announcement_grade {
    margin: 0 25px;
}

.announcement_name {
    margin: 0 25px;
}

.announcement_id {
    max-width: 0 25px;
}

hr {
    height: 1px;
    width: 80%;
    border: 2px dashed blue;

}

.goods {
    column-count: 4;
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
}

footer {
    background-color: black;
    color: white;
}

.footer_space {
    display: flex;
    margin-left: 5%;
}