* {
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: rgb(107, 223, 252);
    display: flex;
    
    justify-content: space-between;
    
}

.head {
    overflow: hidden;
}

.head a {

    text-decoration: none;
    color: white;
}

.shop {
    font-size: 40px;
    padding: 20px;
    text-decoration: none;
}

.a {
    font-size: 23px;
    padding-top: 34px;
    padding-bottom: 34px;
    padding-left: 25px;
    padding-right: 25px;

}

.search {
    height: 25%;
    width: 80%;
    margin-top: 30px;
    margin-left: 50px;
    border-radius: 15px;

}

.a2 {
    float: right;
    font-size: 23px;
    padding-top: 34px;
    padding-bottom: 34px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}

.head a:hover {
    background-color: black;
}

.head a:active {
    color: red;
}

.head input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    font-size: 17px;
}

.head .search-container button {
    float: right;
    margin-top: 30px;
    margin-left: 0px;
    font-size: 10px;
    border: none;
    cursor: pointer;
}



.head .search-container button:hover {
    background: #ccc;
}

.top {
    width: auto;
    height: 100px;
}

@media screen and (max-width: 600px) {

    .heave a,
    .heave input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .head input[type=text] {
        border: 1px solid #ccc;
    }
}

.top {
    width: auto;
    height: 100px;
}
.img1{
    padding:3% 3% 3% 3%;
}
.tr1{
    text-align:center;
    font-size:20px;
}
table td{
    text-align:center;
}

.center1 {
    display: flex;
    justify-content: center;
}
.tr1{
    background-color:#00CACA;
}
.tr1 td{
    font-family:'cwTeXFangSong', serif ;
    font-weight: bold;
}
.tr2{
    font-size: 19px;
    background-color: #BBFFFF;

}
.tr3{
    font-size: 19px;
    background-color: #00FFFF	;

}

/*


.float1 {
    border: 1px black solid;
}

.wid {
    margin: 0% 10%;
    text-align: center;
    justify-content: center;
}

.s25 {
    border: 0px black solid;
    height: 300px;
    float: left;
    width: 25%;
    display: flex;
    justify-content: center;
}

.goodimg {
    border: 0px black solid;
    height: 300px;
    float: left;
    width: 50%;
    padding: 0% 0% 0% 0%;
    display: flex;
    justify-content: center;
}

.center1 {
    display: flex;
    justify-content: center;
}

.element1 {
    float: left;
    width: 50%;
    text-align: center;
}

.element2 {
    float: left;
    width: 25%;
    text-align: center;
}
*/