.leftside {
    float: left;
    width: 50%;
    text-align: center;
}

.rightside {
    float: right;
    width: 50%;
}

.fle {
    display: flex;
}

hr {
    height: 1px;
    width: 80%;
    border: 0.1px solid blue;
}

iframe {
    padding: 20px;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: #555;
}

.content {
    display: none;
    overflow: hidden;
    background-color: white;
}

.content p {
    width: 80%;
    padding-left: 100px;
    text-align: center;
}

.botton1 {
    background-color: #56b9b2;
    font-size: 300%;
    cursor: pointer;
    color: #000;
    border-radius: 40px;
    margin-bottom: 20px;
}

.center {
    text-align: center;
}

.comment {
    margin-top: 20px;
    margin-bottom: 20px;

}

/*評論區*/
textarea {
    border-radius: 40px;
}

.text .comment_p {
    text-align: left;
    padding-left: 0;
}