<<<<<<< HEAD
=======
* {
    box-sizing: border-box;
}

#header {
    display: flex;
    justify-content: space-between;

}

a {
    text-decoration: none;

}

>>>>>>> 11044119
.goods {
    column-count: 4;
    margin: 0 6%;
    width: 100%;
}