* {
    box-sizing: border-box;
}

header {
    background-color: rgb(107, 223, 252,1);
    position: relative;
    
}

.Header {
    width: 101%;
    height: 13.5%;
    margin-left: -1%;
    margin-top: -1%;
    background-color: rgb(107, 223, 252,1);
    display: flex;
    z-index: 2;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    overflow: hidden;
}


.head {
    overflow: hidden;
}

.head a {
    text-decoration: none;
    color: white;
}

.shop {
    font-size: 30px;
    width: 16%;
    padding: 1%;
    text-decoration: none;
    float: left;
}

.header_button1 {
    display: flex;
}

.a0_1{
    font-size: 23px;
    padding-top: 53px;
    padding-bottom: 53px;
    padding-left: 25px;
    padding-right: 40px;
    white-space: nowrap;
    display: inline;
    color:white;
    
}
.a0_2{
    font-size: 23px;
    padding-top: 55px;
    padding-bottom: 55px;
    padding-left: -100px;
    padding-right: -100px;
    white-space: nowrap;
    display: inline;
    color:white;
    
}


.headimg {
    margin-top: 10px;
}

.search {
    height: 25%;
    width: 100%;
    margin-top: 53px;
    margin-left: 50px;
    border-radius: 15px;
}

.a2 {
    float: right;
    font-size: 23px;
    padding-top: 34px;
    padding-bottom: 34px;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    white-space: nowrap;
    display: inline;
}

.head .a:hover {
    background-color: black;
}

.head a:active {
    color: red;
}

.head input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    font-size: 17px;
}

.head .search-container button {
    float: right;
    margin-top: 30px;
    margin-left: 0px;
    font-size: 10px;
    border: none;
    cursor: pointer;
}



.head .search-container button:hover {
    background: #ccc;
}

.top {
    width: auto;
    height: 100px;
}